@model IEnumerable<ContosoUniversity.ViewModels.EnrollmentDateGroup>


@{
    ViewBag.Title = "Student Statistics";
}
<h2>@ViewBag.Title.</h2>

<table>
    <tr>
        <th>
            Enrollment Date
        </th>
        <th>
            Students
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
               
               @Html.DisplayFor(ModelItem => item.EnrollmentDate)
            </td>
            <td>
                @Html.DisplayFor(ModelItem => item.StudentCount)
                
            </td>



        </tr>




    }





</table>
